body {
  background-color: whitesmoke;
}

.container {
  width: 75rem;
  margin: 0 auto;
  text-align: center;
  background-color: whitesmoke;
}

.card-container {
  display: flex;
  gap: 1.25rem;
  width: 62.5rem;
  margin: 0 auto;
  margin-bottom: 3.75rem;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.card img {
  width: 15.625rem;
  border-radius: 10px 10px 0 0;
}

.card {
  width: 15.625rem;
  height: 25rem;
  border-radius: .625rem;
}

.card--gradient {
  text-decoration: none;
  background-color: white;
  border-radius: .625rem;
  transition: background-color 1s;
}

.card--gradient:hover {
  background-color: (#ffe24d);
}

.card--gradient:hover::after {
  content: "Read More";
  font-size: .9375rem;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  color: #303030;
  position: relative;
  bottom: 1.25rem;
  right: 4.0625rem;
}

.card--text {
  padding: 10px 20px 5px ;
}

